/* # ids */





/* . class */

.inicio {
    background-color: #FFF4EC;
    }

.portfolio {
    background-color: #FFF4EC;
    }

.sobre {
    background-color: #FFF4EC;
}

.servicos {
    background-color: #FFF4EC;
}

.contato {
    background-color: rgb(66, 133, 133);
}

    

    







/* tags */






