* {
    margin:0;
    font-family: 'poppins', sans serif;
}

/* blocos */

.inicio {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background: radial-gradient(ellipse at top, #B197F2, transparent),
    radial-gradient(ellipse at bottom, #d0c1fd, transparent),
    radial-gradient(circle at 15%, #e69bff, transparent);
    }
  

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
}

.menu li a {
    font-size: 18px; 
    font-weight:800;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    display: inline;
}

.menu li a:hover {
    color: #E8FE9C;
}


.portfolio {

    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FFEDDF;
    }

.projetos {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 40px;;

}

.sobre {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FFC2EA;
}

.servicos {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #E5F4B2;
}

.contato {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #C2B1F5;
}

footer {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #C2B1F5
}
