* {
    margin:0;
}

/* fontes */

h1 {
    font-family: 'poppins', sans serif;
}

h2 {
    font-family: 'poppins', sans serif;
}

h3 {
    font-family: 'poppins', sans serif;
}

h4 {
    font-family: 'poppins', sans serif;
}

p {
    font-family: 'poppins', sans serif;
}

ul {
    font-family: 'poppins', sans serif;
}

/* blocos */

.inicio {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    font-family:'poppins',sans-serif;
    color: #fff;
    background: radial-gradient(ellipse at top, #E1C8E9, transparent),
    radial-gradient(ellipse at bottom, #C2B1F5, transparent),
    radial-gradient(circle at 10%, #E0ADF1, transparent);

    }

.logotipia {
    display: block;
    font-family:'poppins',sans-serif;
    color: #E8FE9C;  
}

.menu {
    list-style-type: none;
    float: right;
    display: inline-block
}


.portfolio {

    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FFEDDF;
    }

.sobre {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #FFC2EA;
}

.servicos {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #E5F4B2;
}

.contato {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #C2B1F5;
}

footer {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #C2B1F5
}
